<%- include("./partials/header.ejs") %>

<div class='container' style="text-align: center;">
    <div style="height: 450px;margin-bottom:2rem">
        <img style="height: 100%;" src="https://www.intostudy.com/images/ImagesUni/Nankai%20University/Campus%20buildings/nankai-campus-building-statue_hero.jpg?w=1255&q=80">
    </div>
    <div class="row">
        <div>
            <form action="/show" method="POST">
                <label for="country" style="font-size: 2.5rem;"><strong>Choose your desired country:</strong></label>
                <select name="country" style="font-size: 2rem; margin-left:2%">
                    <% CountryList.forEach(function(country){ %>
                        '<option style="font-size: 2rem;" value="<%=country%>" ><strong><%= country %></strong></option>'
                    <% }) %>                           
                </select>
                <input class="btn btn-primary" type="submit">
            </form>
        </div>
    </div>
<%- include("./partials/footer") %>
